<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Pagina
      <span style="font-size: 15px;">Desarrolladores</span>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button color="medium">
        <ion-icon name="ellipse" class="large-icon"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-card class="ion-no-margin">
<ion-card-content>

  <ion-card-title>Integrantes</ion-card-title>


  <ion-list>
    <ion-item>
      <ion-img src="assets/images/Daniel.jpeg"></ion-img>
      <ion-label>Daniel Arancibia</ion-label>
      <h2>Carrera: Ingenieria en Informatica,
        Estudiante de cuarto semestre, Le gusta programar y jugar LoL
      </h2>
    </ion-item>
    <ion-item>
      <ion-img src="assets/images/Brayan.jpeg"></ion-img>
      <ion-label>Brayan Agaz</ion-label>
      <h2>Carrera: Ingenieria en Informatica,
        Estudiante de cuarto semestre, le gusta mucho fallar goles desde lejos
      </h2>
    </ion-item>
    <ion-item>
      <ion-img src="assets/images/Danae.jpeg"></ion-img>
      <ion-label>Danae Morales</ion-label>
      <h2>Carrera: Ingenieria en Informatica,
        Estudiante de cuarto semestre, la niña voleibol
      </h2>
      
    </ion-item>

  </ion-list>

</ion-card-content>
  
</ion-card>


