<ion-header>
  <ion-toolbar>
    <ion-title>
      Alumno
      <span>Clases</span>
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <h4 class="p-4">Clases <a href="clase-actual"><span class="fr link" >Asistir a clases</span></a></h4>

    <ion-grid fixed>
      <ion-row>

        <ion-col size="12">
          <ion-card class="dark">
            <ion-card-content>
              <div class="title">
                <ion-icon name="book-outline" class="f1"></ion-icon>
                <p>Tienes <br> clases de </p>
                <ion-icon name="chevron-forward-outline" class="fr icon-go"></ion-icon>
                <h2>PGY4121 Movil</h2>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12">
          <ion-card class="dark">
            <ion-card-content>
              <div class="title">
                <ion-icon name="book-outline" class="f1"></ion-icon>
                <p>Tu <br> proxima clase </p>
                <ion-icon name="chevron-forward-outline" class="fr icon-go"></ion-icon>
                <h2>INI5111 Ingles</h2>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12">
          <ion-card class="dark">
            <ion-card-content>
              <div class="title">
                <ion-icon name="book-outline" class="f1"></ion-icon>
                <p>Tu <br> proxima clase </p>
                <ion-icon name="chevron-forward-outline" class="fr icon-go"></ion-icon>
                <h2>PGY3233 Arquitectura</h2>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>

      </ion-row>
    </ion-grid>

    <h4 class="p-4">Todo <span class="fr link">Ordenar por<ion-icon class="sort-icon" name="chevron-down-outline"></ion-icon></span></h4>
  
    <ion-searchbar value=" "></ion-searchbar>
    
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-card class="medium">
            <ion-card-content>
              <div class="title">
                <ion-badge class="f1">7</ion-badge>
                <p>Nota <br> Mas alta</p>
                <ion-icon name="chevron-forward-outline" class="fr icon-go"></ion-icon>
                <h2>Arquitectura</h2>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

</ion-content>
